@charset "UTF-8";
/* основний колір тексту #212121; */
/* другий колір тексту #757575; */
/* основний фон #FFFFFF; */
/* вториний колір фону #F5F4FA; */
/* колір фону героя і футера #2F303A */
/* акцент #2196F3; */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bgd-color: #f5f4fa;
  --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.no-scroll {
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* секції */
.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

/* кнопки */
.buttons {
  border-radius: 4px;
  border-color: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .buttons {
    padding: 10px 30px;
  }
}
.buttons:hover, .buttons:focus {
  color: var(--primary-white-color);
  background-color: #188ce8;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* мобільне меню */
.mob-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 83px 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #ffffff;
  z-index: 1;
}
.menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@media screen and (min-width: 480px) {
  .menu {
    flex-wrap: nowrap;
  }
}

.menu-open {
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-open:hover, .menu-open:focus {
  color: var(--accent-color);
}

.menu-open__icon {
  fill: currentColor;
}

.menu-close {
  position: absolute;
  right: 15px;
  top: 10px;
  border: none;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  cursor: pointer;
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close:hover, .menu-close:focus {
  color: var(--accent-color);
}

.menu-close__icon {
  fill: currentColor;
}

.menu-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-decoration: none;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list__link:hover, .menu-list__link:focus {
  color: var(--accent-color);
}
.menu-list__link.current {
  position: relative;
  top: -2px;
  left: 4px;
  color: var(--accent-color);
}

.contacts-menu {
  margin-bottom: 64px;
}

.contacts-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.contacts-menu__link {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.42;
  text-decoration: none;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-menu__link.number {
  color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .contacts-menu__link {
    font-size: 34px;
    line-height: 1.17;
  }
}

.menu-social {
  display: flex;
  gap: 10px;
}

.menu-social__item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-social__link:hover, .menu-social__link:focus {
  color: #188ce8;
}

/* ----------------шапка сайту---------------- */
.page-header {
  display: none;
}
@media screen and (min-width: 768px) {
  .page-header {
    display: flex;
    align-items: center;
  }
}

/* логотип */
.page-header__logo {
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  color: #000;
}
@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.2;
  }
}

span {
  font-family: Raleway;
  color: var(--accent-color);
}

/* навігація */
.nav-list {
  display: flex;
}

.nav-list .nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-color);
}

.nav-list__link.current {
  color: var(--accent-color);
}

.nav-list__link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
    gap: 30px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon-mail {
  margin-right: 10px;
  fill: currentColor;
}
.contacts__icon-mail:hover, .contacts__icon-mail:focus {
  fill: var(--accent-color);
}

.contacts__icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}
.contacts__icon-smartphone:hover, .contacts__icon-smartphone:focus {
  fill: var(--accent-color);
}

/* секція героя */
.hero {
  max-width: 767px;
  min-height: 400px;
  padding-top: 118px;
  background-image: var(--bg-gradient), url(../images/hero.mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero.mobx2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 1199px;
    min-height: 400px;
    padding-top: 118px;
    background-image: var(--bg-gradient), url(../images/hero.tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero.tabx2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    min-height: 600px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--bg-gradient), url(../images/hero.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/herox2.jpg);
  }
}

.hero__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .hero__container {
    width: 696px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.61;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.buttons {
  padding: 10px 24px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons:hover, .buttons:focus {
  border: 1px solid transparent;
  color: var(--primary-white-color);
  background-color: #188ce8;
}

/* секція особливості */
@media screen and (min-width: 1200px) {
  .features {
    padding-bottom: 47px;
  }
}

@media screen and (min-width: 768px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
}

.features-list .features-list__item {
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .features-list .features-list__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features-list .features-list__item {
    width: 270px;
  }
}

.features-list__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features-list__item:not(:last-child) {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item:not(:last-child) {
    margin: 0;
  }
}

.features-bgd {
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bgd-color);
}
@media screen and (min-width: 768px) {
  .features-bgd {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features-bgd {
    width: 270px;
  }
}

.features-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features-list__title {
    text-align: left;
  }
}

.features-list__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
}

/* секція чим ми займаємось */
.work {
  padding-top: 47px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
  }
}

.work__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.work-list {
  display: flex;
}

.work-list .work-list__item + .work-list__item {
  margin-left: 30px;
}

.work-list .work-list__item {
  position: relative;
}

.work-list__box {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.work-list__description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

/* секція наша команда */
.team {
  background-color: #f5f4fa;
}

.team__container {
  padding: 60px 15px;
}
@media screen and (min-width: 1200px) {
  .team__container {
    padding: 94px 0;
  }
}

.team__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list__item {
    width: 354px;
  }
}

.team-list__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team-list__item:not(:last-child) {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item:not(:last-child) {
    margin: 0;
  }
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: var(--primary-white-color);
}

.team-card__name {
  margin: 30px 0 10px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-card__profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
}

.social-list {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

.social-list__icon {
  fill: currentColor;
}

/* секція клієнти */
.clients__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
@media screen and (max-width: 479px) {
  .clients-list__link {
    width: 160px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
  }
}

.clients-list__icon {
  fill: currentColor;
}

/* футер */
.footer {
  background-color: #2f303a;
}

.footer__container {
  padding: 60px 0;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    padding: 60px 89px 60px 76px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    padding: 60px 15px;
  }
}

@media screen and (min-width: 768px) {
  .tablet-footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .tablet-footer {
    gap: 70px;
  }
}

@media screen and (min-width: 768px) {
  .footer__box {
    text-align: center;
    width: 232px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    width: 231px;
    text-align: left;
  }
}

.logo__footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  color: var(--primary-white-color);
}
@media screen and (min-width: 1200px) {
  .logo__footer {
    font-size: 26px;
    line-height: 1.2;
  }
}

.address {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .address {
    margin: 0;
  }
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-top: 9px;
  }
}

.address__link {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  color: var(--primary-white-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__mail,
.address__number {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__mail:hover,
.address__mail:focus {
  color: var(--accent-color);
}

.address__number:hover,
.address__number:focus {
  color: var(--accent-color);
}

.footer-box {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-box {
    margin: 0;
  }
}

.footer-box__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.social-list--no-padding {
  padding: 0;
}

.social-list__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link--dark:hover, .social-list__link--dark:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: currentColor;
}

/* форма у футері */
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 93px;
  }
}

.footer-form__title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer-form__title {
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .form-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .form-box {
    display: flex;
    align-items: center;
  }
}

.form-box__input {
  margin-bottom: 20px;
  padding-left: 16px;
  min-width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  background-color: transparent;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-box__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-box__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-box__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.form-box__input:focus {
  outline-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .form-box__input {
    margin-bottom: 20px;
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .form-box__input {
    margin-right: 12px;
    margin-bottom: 0;
    min-width: 358px;
  }
}

.buttons--with-icon {
  position: relative;
  min-height: 50px;
  min-width: 200px;
  padding-right: 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: start;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons--with-icon:hover, .buttons--with-icon:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-form__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}

/* модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 450px;
  min-height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover, .modal__close-button:focus {
  fill: var(--accent-color);
}

/* форма */
.form {
  padding: 40px 39px 41px;
}

b {
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.form__field {
  position: relative;
  display: block;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field:focus-within .form__icon {
  fill: var(--accent-color);
}

.form__label {
  position: absolute;
  top: -16px;
  left: 0;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__input {
  display: block;
  margin-bottom: 28px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 6px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  border-color: var(--accent-color);
}

.form__comment {
  margin-bottom: 20px;
  padding: 12px 16px;
  width: 100%;
  min-height: 120px;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.form__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__comment:focus {
  border-color: var(--accent-color);
}

.form__policy {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-left: 8px;
  text-align: center;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
}
@media screen and (min-width: 1200px) {
  .form__policy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form__icon-check {
  position: absolute;
  top: -3px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  fill: transparent;
  border: 2px solid #000000;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .form__icon-check {
    top: 3px;
    left: 7px;
  }
}

.form__checkbox:checked + .form__icon-check {
  fill: #ffffff;
  border-radius: 3px;
  border: transparent;
  background-color: var(--accent-color);
}

.form__link {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__link:hover, .form__link:focus {
  color: #188ce8;
}
@media screen and (min-width: 1200px) {
  .form__link {
    padding-left: 7px;
  }
}

.form-box-btn {
  display: flex;
  justify-content: center;
}

.buttons--form {
  padding: 10px 52px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0px 4px 4px rgba(0, 0, 0, 0.15) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons--form:hover, .buttons--form:focus {
  color: var(--primary-white-color);
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* сторінкa портфоліо */
.portfolio-header {
  border-bottom: 1px solid #ececec;
}

.buttons-list {
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  row-gap: 15px;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
@media screen and (min-width: 768px) {
  .buttons-list {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .buttons-list {
    margin-bottom: 50px;
    flex-wrap: no-wrap;
    gap: 8px;
  }
}

.buttons--small {
  padding: 6px 22px;
  border: transparent;
  border-color: #f5f4fa;
  font-weight: 500;
  line-height: 1.6;
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons--small:hover, .buttons--small:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* посилання на проєкти в портфоліо */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio__item {
  margin: 15px;
  width: 450px;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    width: 370px;
  }
}

.portfolio__link {
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .portfolio__link {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.portfolio__box {
  position: relative;
  overflow: hidden;
}

.portfolio__box-descr {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .portfolio__box-descr, .portfolio__link:focus .portfolio__box-descr {
  transform: translateY(-100%);
}

.portfolio__description {
  padding: 0 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .portfolio__description {
    font-size: 18px;
    line-height: 1.55;
  }
}

.portfolio__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.portfolio__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-text-color);
}

.portfolio__card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
@media screen and (min-width: 768px) {
  .portfolio__card {
    flex-grow: 1;
  }
}/*# sourceMappingURL=main.css.map */