/* секція наша команда */
.team {
  background-color: #f5f4fa;
}

.team__container {
  padding: 60px 15px;

  @include desktop {
    padding: 94px 0;
  }
}

.team__title {
  margin-bottom: 30px;

  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  @include desktop {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.team-list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @include desktop {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
}

.team-list__item {
  @include tablet {
    width: 354px;
  }
  // @include desktop {
  //   width: 270px;
  // }
}

.team-list__item:not(:last-child) {
  margin-bottom: 30px;

  @include tablet {
    margin: 0;
  }
  @include desktop {
    margin: 0;
  }
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: var(--primary-white-color);
}

.team-card__name {
  margin: 30px 0 10px 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-card__profession {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
}

.social-list {
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
  }
}

.social-list__icon {
  fill: currentColor;
}
